 
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <app-spinner></app-spinner> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-header-top></app-header-top>
        <!-- Navbar End -->
        <div class="body-content">
      
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Orders</h6>
                        <!-- <a href="">Show All</a> -->
                    </div>
                    <div class="table-responsive">
                        <app-data-grid 
                        [headers]="headers" 
                        [isShowCheckBox]="false" 
                        [data]="data"
                        [actions]="actions"
                        (actionClickEvent)="onActionClick($event)"
                        ></app-data-grid>
                    </div>
                    <div class="show-dataLoader" *ngIf="showDataLoader">
                        <app-data-loader></app-data-loader>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <app-pagination [data]="data" [response]="response" [isLoading]="showDataLoader" (newItemEvent)="pageChange($event)"></app-pagination>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <app-scroll-to-top></app-scroll-to-top>
</div>


