<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <app-spinner></app-spinner> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-header-top></app-header-top>
        <!-- Navbar End -->
        <div class="body-content">
            <div class="row g-4 pt-4 px-4">
                <!-- left sidebar -->
                <div class="col-sm-12 col-md-4 col-xl-4 p-4">
                    <div class=" bg-secondary rounded p-4 mb-4 ">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Messages</h6>
                            <!-- <a href="">Show All</a> -->
                        </div>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Jhon Doe</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Jhon Doe</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Jhon Doe</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Jhon Doe</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>
                    </div>
                </div>   

                <!-- right sidebar               -->
                <div class="col-sm-12 col-xl-8 col-lg-8 p-4">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Profile Details</h6>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                            </div>
                        </nav>
                        <div class="tab-content pt-3" id="nav-tabContent">
                            <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="col-sm-12 col-xl-12">
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <td>Details</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">First Name</th>
                                                    <td>John</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Last Name</th>
                                                    <td>Mark</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>Jacob</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Added</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Modified</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Admin Created</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created By</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created At</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Role</th>
                                                    <td>Admin</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Staus</th>
                                                    <td>Active</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="col-sm-12 col-xl-12">
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <h6 class="mb-4">Contact Details</h6>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <td>Details</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">First Name</th>
                                                    <td>John</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Last Name</th>
                                                    <td>Mark</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>Jacob</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Added</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Modified</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Admin Created</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created By</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created At</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Role</th>
                                                    <td>Admin</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Staus</th>
                                                    <td>Active</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <h6 class="mb-4">Billing Details</h6>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <td>Details</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">First Name</th>
                                                    <td>John</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Last Name</th>
                                                    <td>Mark</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Country</th>
                                                    <td>Jacob</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Added</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Product Modified</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Admin Created</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created By</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Created At</th>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Role</th>
                                                    <td>Admin</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Staus</th>
                                                    <td>Active</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-4">

            </div>
        </div>

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <app-scroll-to-top></app-scroll-to-top>
</div>