<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <app-spinner></app-spinner> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-header-top></app-header-top>
        <!-- Navbar End -->
        <div class="body-content">

            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Add category</h6>
                        <!-- <a routerLink="/add-product" class="btn btn-primary">Add </a> -->
                    </div>
                    <div class="row align-items-end">
                        <div class="col-lg-10">
                            <div class="">
                                <label class="form-label" for="manufacturername">Category Name</label>
                                <input [(ngModel)]="categoryName" id="manufacturername" name="manufacturername" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="saveChanges()" type="submit" class="btn btn-outline-primary addNewButton">Add New</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSave && categoryName.length == 0" class="alert alert-primary alert-dismissible fade show mt-2" role="alert">
                    <i class="fa fa-exclamation-circle me-2"></i>Failed &amp; Category Name cloud not be empty
                    <button type="button" class="btn-close" (click)="isSave = false" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>



            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Categories</h6>
                        <!-- <a routerLink="/add-product" class="btn btn-primary">Add </a> -->
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white text-center">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Cat. Name</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Modified By</th>
                                    <th scope="col">Modified At</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let item of categories">
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.createdBy}}</td>
                                    <td>{{item.createdAt}}</td>
                                    <td>{{item.modifiedBy}}</td>
                                    <td>{{item.modifiedBy}}</td>
                                    <td>{{item.isActive? "Active": "In-Active"}}</td>
                                    <td class="justify-content-around">
                                        <a class="btn btn-sm btn-primary" href="">{{!item.isActive? "Active": "In-Active"}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="show-dataLoader" *ngIf="isSave">
                            <app-data-loader></app-data-loader>
                        </div>
                        <div class="col-sm-12 col-xl-12">
                            <app-pagination [data]="categories" [response]="response" [isLoading]="isSave" (newItemEvent)="pageChange($event)"></app-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <app-scroll-to-top></app-scroll-to-top>
</div>