<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <app-spinner></app-spinner> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-header-top></app-header-top>
        <!-- Navbar End -->
        <div class="body-content">
            <!-- alert  -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4  mb-3">
                        <h6 class="mb-4">User Details</h6>
                        <div class="form-floating mb-3">
                            <div class="col-xl-12 col-md-12">
                                <label for="userName">User Name</label>
                                <input [(ngModel)]="userName" (blur)="checkOnChange('userName', $event, true)" type="text" class="form-control my-2" id="userName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="mb-3">
                                    <label class="form-label" for="firstName">First Name</label>
                                    <input [(ngModel)]="firstName"  id="firstName" name="firstName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                
                                <div class="mb-3">
                                    <label class="form-label" for="middleName">Middle Name</label>
                                    <input [(ngModel)]="middleName" id="middleName"  name="middleName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label" for="lastName">Last Name</label>
                                    <input [(ngModel)]="lastName" id="lastName" name="lastName" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input [(ngModel)]="email" (blur)="checkOnChange('email', $event, true)"  id="email" name="email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input [(ngModel)]="password" id="password" name="password" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-floating mb-3 d-flex justify-content-between">
                            <div class="col-xl-12 col-md-12">
                                <label for="floatingInput">Role</label>
                                <select class="form-select mb-3 my-2" [(ngModel)]="role" aria-label="Default select example">
                                    <option selected="" value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea [(ngModel)]="description" class="form-control" placeholder="Leave a comment here" id="description" style="height: 150px;"></textarea>
                            <label for="description">User Description</label>
                        </div>
                        <div class="form-floating">
                            <div class="mb-3">
                                <label for="image" class="form-label">Profile Image</label>
                                <input class="form-control bg-dark" type="file" id="image">
                            </div>
                        </div>
                        <!-- <app-success *ngIf="isSubmitSuccess"></app-success> -->
                        <div class="row text-start mt-2">
                            <div class="col-lg-2" style="max-width: 160px;">
                                <button (click)="saveChanges()" type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                            <div class="col-lg-2 p-0">
                                <button (click)="cancelChanges()" type="submit" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <app-scroll-to-top></app-scroll-to-top>
</div>