<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <app-spinner></app-spinner> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-header-top></app-header-top>
        <!-- Navbar End -->
        <div class="body-content">
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4 mb-2">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Users</h6>
                        <!-- <a href="">Show All</a> -->
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white text-center">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Contact Num.</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let user of users">
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>{{user.createdAt | date:"short"}}</td>
                                    <td>{{user?.name? user?.name : user?.firstName + " "+user?.lastName }}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.acStatus}}</td>
                                    <td>{{user?.phoneNumber}}</td>
                                    <td class="justify-content-around d-flex">
                                        <a class="btn btn-sm btn-primary" href="">Block <i
                                                class="fas fa-user-lock"></i></a>
                                        <a class="btn btn-sm btn-success spacing" href="">Approve
                                            <i class="fas fa-user-check"></i>
                                            <!-- <i class="fas fa-user-alt-slash"></i> -->
                                            </a>
                                        <a class="btn btn-sm btn-danger" href="">Delete <i
                                                class="fas fa-user-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="show-dataLoader" *ngIf="showDataLoader">
                        <app-data-loader></app-data-loader>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <app-pagination [data]="users" [response]="response" [isLoading]="showDataLoader" (pageChangeEvent)="pageChange($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <app-scroll-to-top></app-scroll-to-top>
</div>